.registerplace-form {
  background-color: rgb(126, 143, 75);
  border-radius: 3rem;
  max-height: 100%;
  padding: 2rem;
}

@media screen and (max-width: 1024px) {
  .registerplace-form {
    overflow-y: scroll;
    border-radius: 0;
  }
}